.alert {
  position: relative;
  font-size: 0.85rem;
  padding: 1.1rem 1.3rem;
  margin-bottom: var(--section-padding);
  border-radius: 10px;
  z-index: 0;
  font-weight: 600;

  a {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.alert-success {
  background-color: var(--success-color);
}

.alert-info {
  background-color: var(--primary);
}

.alert-warning {
  background-color: var(--warning-color);
}

.alert-danger {
  background-color: var(--error-color);
  color: white;
}
