.jenkins-badge {
  position: relative;
  display: inline;
  font-size: 0.75rem;
  font-weight: 500;
  margin-left: 1rem;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -9px;
    bottom: -2px;
    right: -9px;
    border-radius: 100vmax;
    background: currentColor;
    opacity: 0.05;
  }
}
