.content-block__body {
  padding: 1.5rem;
}

.content-block__body > *:first-child {
  margin-top: 0;
}

.content-block__body > *:last-child {
  margin-bottom: 0;
}

.content-block__footer {
  background-color: var(--light-grey);
  padding: 0.5rem 1.5rem;
}

.content-block__link-list {
  padding: 0;
}

.content-block__link-list li {
  list-style: none;
  width: 100%;
}

.content-block__link {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
}

// Empty state specific blocks

.empty-state-block {
  max-width: 600px;
  margin: 0 auto;
}

.empty-state-section__heading {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: calc(var(--section-padding) / 2);
}

.empty-state-section-list {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    margin-bottom: 0.5rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.app-dashboard__oobe {
  display: flex;
  flex-direction: column;
  gap: var(--section-padding);
  max-width: 600px;
  margin: 5vh auto 0 auto;

  & > * {
    margin-bottom: 0;
  }
}

h1 {
  span:first-of-type {
    color: var(--text-color-secondary);
    font-weight: 600;
    font-size: 1rem;
    display: block;
    margin-bottom: calc(var(--section-padding) / 3);
  }
}

.elaine {
  font-family: "Georgia";
  font-weight: 600;
  font-size: 1.75rem;
}
