@jenkins-modal-padding: 1.75rem;

:root, ::backdrop {
  --modal-backdrop-background: hsla(240, 10%, 20%, 0.8);
  --modal-backdrop-filter: contrast(0.65) brightness(2.5) saturate(1.5) blur(30px);
  --modal-box-shadow: 0 10px 30px rgba(0, 0, 20, 0.2), 0 2px 10px rgba(0, 0, 20, 0.05), inset 0 -1px 2px rgba(255, 255, 255, 0.025);

  @media (prefers-color-scheme: dark) {
    --modal-backdrop-background: hsla(240, 10%, 5%, 0.9);
    --modal-backdrop-filter: contrast(0.9) saturate(1.5) brightness(0.9) blur(30px);
    --modal-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05),
                        0 0 1px 1px rgba(0, 0, 0, 0.02),
                        0 10px 50px rgba(0, 0, 0, 0.2);
  }
}

.jenkins-modal {
  border-radius: 1rem;
  border: none;
  box-shadow: var(--modal-box-shadow);
  backdrop-filter: var(--modal-backdrop-filter);
  animation: jenkins-modal-animate-in var(--elastic-transition);

  &::backdrop {
    background: var(--modal-backdrop-background);
    animation: jenkins-modal-backdrop-animate-in 0.15s;
  }

  &__title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  &__label {
    font-size: 1rem;
    color: var(--text-color-secondary);
    font-weight: 500;
    margin: 0;
    padding: 0;
  }

  &__close-button {
    position: absolute;
    top: @jenkins-modal-padding;
    right: @jenkins-modal-padding;
    width: @jenkins-modal-padding;
    height: @jenkins-modal-padding;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: var(--text-color-secondary);
    }

    &::before {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.15;
      border-radius: 100%;
      transition: var(--standard-transition);
    }

    &::after {
      display: flex;
      align-items: center;
      justify-content: center;
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='40' d='M368 368L144 144M368 144L144 368'/%3E%3C/svg%3E");
      mask-position: center;
      mask-size: 70%;
      mask-repeat: no-repeat;
    }

    &:hover {
      &::before {
        opacity: 0.25;
      }
    }
  }
}

.jenkins-modal--hidden {
  animation: jenkins-modal-animate-out 0.2s ease;

  &::backdrop {
    animation: jenkins-modal-backdrop-animate-out 0.2s ease;
  }
}

@keyframes jenkins-modal-backdrop-animate-in {
  from {
    opacity: 0;
  }
}

@keyframes jenkins-modal-animate-in {
  from {
    scale: 80%;
    opacity: 0;
  }
}

@keyframes jenkins-modal-backdrop-animate-out {
  to {
    opacity: 0;
  }
}

@keyframes jenkins-modal-animate-out {
  to {
    scale: 90%;
    opacity: 0;
  }
}

.longhorn-container {
  display: flex;
  gap: calc(@jenkins-modal-padding / 2);
  overflow: hidden;
  padding: @jenkins-modal-padding;
}

.longhorn-container-2 {
  position: relative;
  display: flex;
  justify-content: end;
  gap: calc(@jenkins-modal-padding / 2);
  padding: 0 @jenkins-modal-padding @jenkins-modal-padding;
  z-index: 0;

  button {
    min-width: 100px;
    min-height: 2.4rem;
    font-size: 0.9rem;
  }
}
