@import "../abstracts/breakpoints";

#tasks, .subtasks {
  display: flex;
  flex-direction: column;
  margin: calc(var(--section-padding) - 0.4rem) 0 calc(var(--section-padding) - 0.8rem) var(--section-padding);
  gap: 0.35rem;
}

.subtasks {
  margin-top: 5px;
  margin-bottom: 0;

  &:empty {
    display: none;
  }
}

#tasks {
  h1 {
    margin-top: 0.4rem;
  }

  .task {
    .task-link {
      .item();
    }
  }

  @media (max-width: @mobile-breakpoint) {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px var(--section-padding);
    margin: calc(var(--section-padding) - 10px) 0 -10px 0;
    gap: 0.6rem;

    .jenkins-app-bar {
      display: none;
    }

    .task {
      display: inline-block;
      flex-shrink: 0;

      .task-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.55rem 0.85rem;
        gap: 0.7rem;
        cursor: pointer;
        z-index: 0;
        font-weight: 500 !important;
        font-size: 0.9rem;
        color: var(--text-color) !important;
        background: transparent;
        outline: none;
        border: none;
        text-decoration: none;
        box-shadow: inset 0 0 0 2px var(--item-background--hover);
        transition: box-shadow var(--standard-transition);
        border-radius: 10px;

        .task-icon-link {
          display: contents;

          svg,
          img {
            width: 1.2rem;
            height: 1.2rem;
            color: var(--text-color);
          }
        }

        &:hover, &:active, &:focus, &--active {
          box-shadow: inset 0 0 0 2px transparent;
        }

        &--active {
          box-shadow: inset 0 0 0 2px transparent;

          &::before {
            background-color: var(--item-background--active) !important;
          }
          &::after {
            box-shadow: none !important;
          }
        }
      }
    }

    &::after {
      content: "";
      min-width: calc(var(--section-padding) - 1rem);
    }
  }

  @media (min-width: @mobile-breakpoint + 1) and (max-width: @tablet-breakpoint - 1) {
    gap: 0.5rem;
    
    .jenkins-app-bar {
      display: none;
    }

    .task {
      margin: 0 0 0 -0.8rem;

      .task-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0.7rem;
        gap: 0.3rem;
        cursor: pointer;
        z-index: 0;
        font-weight: 500 !important;
        font-size: 0.8rem;
        color: var(--text-color) !important;
        background: transparent;
        outline: none;
        border: none;
        text-decoration: none;
        width: 100px;
        max-width: 100px;
        text-align: center;

        .task-icon-link {
          display: contents;

          svg,
          img {
            width: 1.4rem !important;
            height: 1.4rem !important;
            color: var(--text-color);

            * {
              transition: stroke-width var(--standard-transition);
            }
          }
        }

        .task-link-text {
          display: contents;
        }

        &--active {
          font-weight: 600 !important;
          cursor: default;

          svg * {
            stroke-width: 38px;
          }

          &::before {
            background-color: var(--item-background--active) !important;
          }
          &::after {
            box-shadow: none !important;
          }
        }
      }
    }
  }

  @media screen and (min-width: @tablet-breakpoint) {
    .task {
      margin: 0 0 0 -0.8rem;

      .task-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.55rem 0.8rem;
        gap: 0.75rem;
        cursor: pointer;
        z-index: 0;
        font-weight: 500 !important;
        font-size: 0.9rem;
        color: var(--text-color) !important;
        background: transparent;
        outline: none;
        border: none;
        text-decoration: none;
        width: 100%;
        margin: 0;

        .task-icon-link {
          display: contents;

          svg,
          img {
            width: 1.4rem !important;
            height: 1.4rem !important;
            color: var(--text-color);

            * {
              transition: stroke-width var(--standard-transition);
            }
          }
        }

        .task-link-text {
          display: contents;
        }

        &--active {
          font-weight: 600 !important;
          cursor: default;

          svg * {
            stroke-width: 38px;
          }

          &::before {
            background-color: var(--item-background--active) !important;
          }
          &::after {
            box-shadow: none !important;
          }
        }
      }
    }
  }
}
