@use "./abstracts/colors";
@use "./abstracts/theme";
@use "./base/display";
@use "./base/layout-commons";
@use "./base/spacing";
@use "./base/style";
@use "./base/typography";
@use "./base/visibility-utils";
@use "./base/yui-compatibility";
@use "./form/checkbox";
@use "./form/codemirror";
@use "./form/file-upload";
@use "./form/input";
@use "./form/layout";
@use "./form/radio";
@use "./form/reorderable-list";
@use "./form/search-bar";
@use "./form/select";
@use "./form/textarea";
@use "./form/toggle-switch";
@use "./form/validation";
@use "./modules/app-bar";
@use "./modules/badges";
@use "./modules/breadcrumbs";
@use "./modules/buttons";
@use "./modules/buttons-deprecated";
@use "./modules/content-blocks";
@use "./modules/dropdowns";
@use "./modules/icons";
@use "./modules/modals";
@use "./modules/notifications";
@use "./modules/page-footer";
@use "./modules/page-header";
@use "./modules/panes-and-bigtable";
@use "./modules/section";
@use "./modules/side-panel-tasks";
@use "./modules/side-panel-widgets";
@use "./modules/skip-link";
@use "./modules/spinner";
@use "./modules/progress-animation";
@use "./modules/row-selection-controller";
@use "./modules/table";
@use "./modules/tabs";
@use "./modules/tooltips";
@use "./pages/about";
@use "./pages/dashboard";
@use "./pages/icon-legend";
@use "./pages/manage-jenkins";
@use "./pages/plugin-manager";
@use "./pages/setupWizardFirstUser";
@use "./pages/setupWizardConfigureInstance";

html {
  // Ensure that the 1rem size is 16px and scales with the browser zoom
  // This is needed because bootstrap 3 overrides the font-size when loaded.
  //
  // It's set to 16px instead of 100% because using percentages would trigger
  // known browser bugs where elements with a font-family: monospace declaration
  // would not respect relative font-size rules.
  // The downside is that the page does not resize with the browser's font size,
  // only with the zoom level.
  font-size: 16px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

.desc-card {
  font-size: var(--font-size-sm);
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.66;

  #description {
    padding: 1.125rem;
  }

  #description-link {
    height: 0;
    opacity: 0;
    transition: var(--standard-transition);
    min-height: 0;
    padding: 0;
    filter: blur(2px);
    scale: 90%;
  }

  &:hover {
    #description-link {
      height: 40px;
      margin-top: 1.125rem;
      opacity: 1;
      filter: blur(0);
      scale: 100%;
    }
  }

  &:has(textarea) {
    padding: 0;

    .jenkins-button {
      margin: 1.125rem;
      width: calc(100% - 2.25rem);
    }
  }

  .jenkins-input {
    border: none;
    background: transparent;
    font-size: 15px;
    line-height: 1.66;
    -webkit-font-smoothing: subpixel-antialiased;
    padding: 1.125rem;
    padding-bottom: 0;
    width: 100%;
    box-shadow: none;
  }

  .jenkins-form-item {
    margin-bottom: 0;
  }

  .textarea-preview-container {
    display: none;
  }

  .jenkins-button {
    width: 100%;
    box-sizing: border-box;
  }
}

.card {
  //background: var(--card-border-color);
  margin-left: var(--section-padding);
  border-radius: 1rem;
  margin-bottom: calc(var(--section-padding) / 2);

  background: hsl(240, 6%, 16%);
  border: 2px solid hsl(240, 6%, 16.5%);

  background: white;
  border: 2px solid var(--card-border-color);
}

$padding: 16px;

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding;
  font-size: var(--font-size-sm) !important;
  font-weight: 500;

  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .jenkins-button {
    padding: 0;
    min-height: 0;
    color: var(--text-color-secondary) !important;

    &:hover {
      color: var(--text-color) !important;
    }

    &::before, &::after {
      content: none;
    }
  }

  a, button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-secondary);
    cursor: pointer;

    svg {
      width: 1.125rem;
      height: 1.125rem;
      transition: var(--standard-transition);
    }

    &:hover {
      color: var(--text-color);
    }
  }

  .pane-header-title {
    display: block;
  }
}

.card-content {
  padding: 0 $padding $padding $padding;
  color: var(--text-color-secondary);
  max-height: 400px;
  overflow-y: auto;

  &:empty {
    display: none;
  }
}
