@use "./abstracts/colors";
@use "./abstracts/theme";
@use "./base/core";
@use "./base/display";
@use "./base/layout-commons";
@use "./base/spacing";
@use "./base/style";
@use "./base/typography";
@use "./base/visibility-utils";
@use "./base/yui-compatibility";
@use "./form/checkbox";
@use "./form/codemirror";
@use "./form/file-upload";
@use "./form/input";
@use "./form/layout";
@use "./form/radio";
@use "./form/reorderable-list";
@use "./form/search-bar";
@use "./form/select";
@use "./form/textarea";
@use "./form/toggle-switch";
@use "./form/validation";
@use "./modules/app-bar";
@use "./modules/avatar";
@use "./modules/badges";
@use "./modules/breadcrumbs";
@use "./modules/buttons";
@use "./modules/buttons-deprecated";
@use "./modules/content-blocks";
@use "./modules/dropdowns";
@use "./modules/icons";
@use "./modules/modals";
@use "./modules/notifications";
@use "./modules/page-footer";
@use "./modules/page-header";
@use "./modules/panes-and-bigtable";
@use "./modules/section";
@use "./modules/side-panel-tasks";
@use "./modules/side-panel-widgets";
@use "./modules/skip-link";
@use "./modules/spinner";
@use "./modules/progress-animation";
@use "./modules/row-selection-controller";
@use "./modules/table";
@use "./modules/tabs";
@use "./modules/tooltips";
@use "./pages/about";
@use "./pages/dashboard";
@use "./pages/icon-legend";
@use "./pages/manage-jenkins";
@use "./pages/plugin-manager";
@use "./pages/setupWizardFirstUser";
@use "./pages/setupWizardConfigureInstance";

$icon-size: 1.375rem;

.hideything {
  cursor: pointer;
  transition: var(--standard-transition);
  user-select: none;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    scale: 0.95;
  }
}

.cssclock {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  scale: 0.75;

  &::after {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: 100%;
    border: 2px solid currentColor;
  }

  .hours, .minutes {
    position: absolute;
    inset: 0;
    border-radius: 100%;

    &::after {
      content: "";
      position: absolute;
      bottom: 11px;
      left: 11px;
      width: 2px;
      background: currentColor;
      border-radius: 2px;
    }
  }
  .hours {
    rotate: var(--hours);

    &::after {
      height: 8px;
    }
  }

  .minutes {
    rotate: var(--minutes);

    &::after {
      height: 6px;
    }
  }
}

.populism {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  -webkit-font-smoothing: subpixel-antialiased;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: start;
    width: $icon-size;
    height: $icon-size;

    svg {
      width: $icon-size;
      height: $icon-size;
    }

    .jenkins-avatar {
      width: calc($icon-size - 1px);
      height: calc($icon-size - 1px);
      font-size: 0.6rem !important;
    }
  }

  a {
    font-weight: normal;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
  }
}
