@import url("./abstracts/mixins");
@import url("./abstracts/colors");
@import url("./base/display");
@import url("./base/layout-commons");
@import url("./base/spacing");
@import url("./base/style");
@import url("./base/typography");
@import url("./base/visibility-utils");
@import url("./base/yui-compatibility");
@import url("./form/checkbox");
@import url("./form/codemirror");
@import url("./form/input");
@import url("./form/layout");
@import url("./form/radio");
@import url("./form/reorderable-list");
@import url("./form/search-bar");
@import url("./form/select");
@import url("./form/toggle-switch");
@import url("./form/validation");
@import url("./modules/app-bar");
@import url("./modules/badges");
@import url("./modules/breadcrumbs");
@import url("./modules/buttons");
@import url("./modules/buttons-deprecated");
@import url("./modules/content-blocks");
@import url("./modules/dropdowns");
@import url("./modules/icons");
@import url("./modules/notifications");
@import url("./modules/page-footer");
@import url("./modules/page-header");
@import url("./modules/panes-and-bigtable");
@import url("./modules/section");
@import url("./modules/side-panel-tasks");
@import url("./modules/side-panel-widgets");
@import url("./modules/spinner");
@import url("./modules/progress-animation");
@import url("./modules/row-selection-controller");
@import url("./modules/table");
@import url("./modules/tabs");
@import url("./modules/tooltips");
@import url("./pages/about");
@import url("./pages/dashboard");
@import url("./pages/icon-legend");
@import url("./pages/manage-jenkins");
@import url("./pages/plugin-manager");
@import url("./pages/setupWizardFirstUser");
@import url("./pages/setupWizardConfigureInstance");

html {
  // Ensure that the 1rem size is 16px and scales with the browser zoom
  // This is needed because bootstrap 3 overrides the font-size when loaded.
  //
  // It's set to 16px instead of 100% because using percentages would trigger
  // known browser bugs where elements with a font-family: monospace declaration
  // would not respect relative font-size rules.
  // The downside is that the page does not resize with the browser's font size,
  // only with the zoom level.
  font-size: 16px !important;
  letter-spacing: -0.016em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

.flip {
  position: relative;
  min-height: 1.5rem;

  p {
    position: absolute;
    margin: 0;
    color: var(--text-color-secondary);
  }

  .jenkins {
    font-family: "Georgia", Serif;
    font-weight: bold;
    font-size: 1rem;
  }

  &:has(.notice) {
    .jenkins {
      animation: flip-2 0.4s 3s both ease;
    }

    .notice {
      font-weight: 600;
      font-size: 1rem;
      animation: flip-1 0.4s 3s both ease;
    }
  }
}

@keyframes flip-1 {
  to {
    translate: 0 -0.75rem;
    filter: blur(2px);
    opacity: 0;
  }
}

@keyframes flip-2 {
  from {
    translate: 0 0.75rem;
    filter: blur(2px);
    opacity: 0;
  }
}

.jenkins-mobile-only {
  @media (min-width: 767px) {
    display: none;
  }
}

.jenkins-mobile-hide {
  @media (max-width: 767px) {
    display: none;
  }
}

.longhorn-og {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}

.longhorn {
  position: absolute;
  scale: 0;
  opacity: 0;

  &::before,
  &::after {
    width: 1.125rem;
    height: 1.125rem;
    border: 0.125rem solid currentColor;
  }
}

.longhorn-check {
  position: absolute;
  scale: 0;
  opacity: 0;
  width: 1.25rem !important;
  height: 1.25rem !important;

  * {
    stroke-width: 40px;
  }
}

.longhorn-on {
  pointer-events: none;

  &::after {
    box-shadow: 0 0 0 1rem currentColor !important;
  }

  .longhorn-og {
    animation: longhornog-animation 3.5s both cubic-bezier(0, 0.68, 0.5, 1.5);
  }

  .longhorn {
    animation: longhorn-animation 1.8s both cubic-bezier(0, 0.68, 0.5, 1.5);
  }

  .longhorn-check {
    animation: longhorn2-animation 1.8s both 1.6s cubic-bezier(0, 0.68, 0.5, 1.5);
  }
}

@keyframes longhornog-animation {
  10% {
    scale: 90%;
    opacity: 0;
    filter: blur(2px);
  }
  90% {
    scale: 90%;
    opacity: 0;
    filter: blur(2px);
  }
  95% {
    scale: 1;
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes longhorn-animation {
  0% {
    scale: 0;
    opacity: 0;
    filter: blur(2px);
  }
  20% {
    scale: 1;
    opacity: 1;
    filter: blur(0);
  }
  90% {
    scale: 1;
    opacity: 1;
    filter: blur(0);
  }
  100% {
    scale: 0;
    opacity: 0;
    filter: blur(2px);
  }
}

@keyframes longhorn2-animation {
  15% {
    scale: 1;
    opacity: 1;
    filter: blur(0);
  }
  85% {
    scale: 1;
    opacity: 1;
    filter: blur(0);
  }
  100% {
    scale: 0;
    opacity: 0;
    filter: blur(2px);
  }
}
