.jenkins-avatar {
  --gradient-angle: 45deg;
  --gradient-1: var(--blue);
  --gradient-2: var(--red);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  z-index: 0;
  aspect-ratio: 1;

  &__backplate {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: -1;
    background: linear-gradient(var(--gradient-angle), var(--gradient-1), var(--gradient-2));

    &::before,
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      mix-blend-mode: overlay;
      border-radius: inherit;
    }

    &::before {
      background: radial-gradient(var(--background), transparent);
    }

    &::after {
      background: radial-gradient(var(--background), transparent);
      border: 1px solid currentColor;
      opacity: 0.2;
    }
  }

  &__animation {
    position: absolute;
    inset: 0;
    animation: rotate-bg 5s linear infinite;
    mix-blend-mode: overlay;
    background: linear-gradient(var(--gradient-angle), var(--gradient-1), var(--gradient-2));
    border-radius: 100%;
    aspect-ratio: 1;
  }

  &__initials {
    font-weight: 600;
    font-size: 100%;
    color: transparent;

    &::before,
    &::after {
      content: attr(data-initials);
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--text-color);
      mix-blend-mode: overlay;
      z-index: 1;
    }
  }

  @keyframes rotate-bg {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }
}
