.jenkins-banner {
  --banner-background: var(--button-background);
  --banner-color: var(--text-color);

  position: relative;
  display: grid;
  grid-template-columns: auto 1fr 36px;
  grid-gap: 0.9rem;
  padding: 0.9rem 0.7rem 0.9rem 1rem;
  border-radius: 0.66rem;
  margin-bottom: var(--section-padding);
  font-weight: 500;
  line-height: 1.66;
  color: var(--banner-color);
  min-height: 53px;

  &__content {
    align-items: center;
  }

  &::selection {
    background: currentColor;
  }

  & > svg {
    width: 1.375rem;
    height: 1.375rem;
    translate: 0 2px;
  }

  dl {
    margin: 0;
  }

  p {
    color: var(--banner-color);
  }

  a {
    color: var(--banner-color);
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
    text-decoration-skip: none;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: -1;
    background: var(--banner-background);
  }

  .jenkins-buttons-row {
    margin-top: 0.5rem;
  }

  &--success {
    --banner-background: var(--success);
    --banner-color: var(--background);
  }

  &--error {
    --banner-background: var(--error-color);
    --banner-color: var(--background);
  }

  &--warning {
    --banner-background: var(--warning);
    --banner-color: var(--background);
  }

  &[class*="jenkins-banner--"] {
    .jenkins-button {
      color: currentColor !important;
      background: transparent;

      &::before {
        background: currentColor !important;
        opacity: 0.1;
      }

      &::after {
        box-shadow: 0 0 0 0.66rem currentColor;
        opacity: 0;
      }

      &:hover {
        &::before {
          opacity: 0.2;
        }
      }

      &:active,
      &:focus {
        &::before {
          opacity: 0.25;
        }

        &::after {
          box-shadow: 0 0 0 0.33rem currentColor;
          opacity: 0.1;
        }
      }
    }

    .jenkins-button--primary {
      color: var(--banner-background) !important;

      &::before {
        background: var(--banner-color) !important;
        opacity: 1;
      }

      &::after {
        box-shadow: 0 0 0 0.66rem var(--banner-color);
        opacity: 0;
      }

      &:hover {
        &::before {
          opacity: 0.9;
        }
      }

      &:active,
      &:focus {
        &::before {
          opacity: 0.8;
        }

        &::after {
          box-shadow: 0 0 0 0.33rem var(--banner-color);
          opacity: 0.25;
        }
      }
    }
  }

  & + .jenkins-banner {
    margin-top: calc(var(--section-padding) * -0.5);
  }
}

.jenkins-banner__dismiss-button {
  aspect-ratio: 1;
  border-radius: 100% !important;
  padding: 0 !important;
  margin-top: -0.3rem !important;
  margin-bottom: -0.3rem !important;

  svg * {
    stroke-width: 36px;
  }
}

.jenkins-banner__side-controls {
  display: flex;
  gap: 0.9rem;
  max-width: 300px;
  flex-wrap: wrap;
  justify-content: end;
  margin-top: -5px;
  margin-bottom: -50%;
}

.jenkins-banner__content:has(.jenkins-banner__side-controls) {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 3rem;
}

.jenkins-banner__side-controls {
  align-self: start;
}
