.jenkins-radio-help-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.jenkins-radios {
  display: flex;
  flex-direction: column;
  gap: calc(var(--section-padding) / 2);
}

.jenkins-radio {
  position: relative;
  display: grid;
  grid-template-columns: 1.375rem 1fr auto;
  grid-template-rows: auto auto auto;
  gap: 0.25rem 0.75rem;
  width: 100%;

  &__input {
    position: absolute;
    opacity: 0;

    &:hover {
      & + label {
        &::before {
          box-shadow: 0 0 0 10px transparent, inset 0 0 0 5px var(--input-border-hover);
        }
      }
    }

    &:focus, &:active {
      & + label {
        &::before {
          transition: box-shadow var(--elastic-transition);
          box-shadow: 0 0 0 5px var(--focus-input-glow), inset 0 0 0 8px var(--focus-input-border);
        }
      }
    }

    &:checked {
      & + label {
        &::before {
          box-shadow: 0 0 0 10px transparent, inset 0 0 0 8px var(--focus-input-border);
        }
      }
    }

    &:disabled {
      & + label {
        cursor: not-allowed;

        &::before {
          opacity: 0.35;
        }
      }
    }
  }

  &__label {
    grid-row: 1;
    grid-column: 2;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: var(--form-label-font-weight);
    // remove 300ms pause on mobile
    touch-action: manipulation;

    &::before {
      content: "";
      position: absolute;
      width: 1.375rem;
      height: 1.375rem;
      border-radius: 50%;
      background: transparent;
      box-shadow: 0 0 0 10px transparent, inset 0 0 0 2px var(--input-border);
      transition: box-shadow var(--standard-transition);
      cursor: pointer;
      grid-row: 1;
      grid-column: 1;
      top: 0;
      left: 0;
    }
  }

  .jenkins-help-button {
    grid-row: 1;
    grid-column: 3;
    margin-left: 0;
    width: 1.375rem;
    height: 1.375rem;
  }

  &__description {
    grid-row: 2;
    grid-column: 2 / span 2;
    color: var(--text-color-secondary);
    line-height: 1.66;

    &:empty {
      display: none;
    }
  }

  .help-area {
    grid-row: 3;
    grid-column: 2 / span 2;
  }

  &__children {
    display: none;
    transition: var(--standard-transition);
    grid-row: 4;
    grid-column: 2 / span 2;

    &::before {
      content: "";
      position: absolute;
      width: 0.125rem;
      height: calc(100% - 0.3rem);
      //margin: 0.3rem auto auto;
      background: var(--input-border);
      border-radius: 2px;
      transition: var(--standard-transition);
      grid-column: 1;
      grid-row: 2 / span 3;
      top: 0.3rem;
      left: 0.625rem;
    }

    &:focus-within {
      &::after {
        background: var(--focus-input-border);
      }
    }

    &:empty {
      display: none !important;
    }
  }

  &__input:checked + &__label + .jenkins-help-button + &__description + .help-area + &__children {
    display: block;
  }
}

.radioBlock-container {
  display: contents;
}

.longhorn {
  display: contents;
}
