@use "../base/breakpoints";

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* --------------- header --------------- */

#page-header .logo {
  margin-left: 1.2rem;
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}

#jenkins-home-link {
  position: relative;
}

#jenkins-head-icon {
  height: 2.5rem;
}

#jenkins-name-icon {
  margin-left: 0.25rem;
}

/* -------------------------------------- */

.app-page-body-thing {
  width: calc(100vw - (var(--section-padding) * 4));
  margin: 0 auto;
  max-width: 2400px;
}

.app-page-body {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: wrap-reverse;
  gap: calc(var(--section-padding) * 2);

  &__sidebar {
    min-width: 240px;
    width: 18vw;
    max-width: 300px;
    flex-shrink: 0;
  }

  &__content {
    flex-grow: 1;
  }
}

/* -------------------------------------- */

h1.build-caption.page-headline {
  display: flex;
  align-items: center;
}

h1.build-caption.page-headline > span {
  max-width: 1200px;
  overflow: hidden;
  line-height: 2.4rem;
  text-overflow: ellipsis;
}

// Clearfixes extracted from responsive-grid.css as they essential
.clearfix::before,
.clearfix::after,
.container::before,
.container::after,
.container-fluid::before,
.container-fluid::after,
.row::before,
.row::after,
.form-horizontal .form-group::before,
.form-horizontal .form-group::after,
.btn-toolbar::before,
.btn-toolbar::after,
.btn-group-vertical > .btn-group::before,
.btn-group-vertical > .btn-group::after,
.nav::before,
.nav::after,
.navbar::before,
.navbar::after,
.navbar-header::before,
.navbar-header::after,
.navbar-collapse::before,
.navbar-collapse::after,
.pager::before,
.pager::after,
.panel-body::before,
.panel-body::after,
.modal-footer::before,
.modal-footer::after {
  display: table;
  content: " ";
}

.clearfix::after,
.container::after,
.container-fluid::after,
.row::after,
.form-horizontal .form-group::after,
.btn-toolbar::after,
.btn-group-vertical > .btn-group::after,
.nav::after,
.navbar::after,
.navbar-header::after,
.navbar-collapse::after,
.pager::after,
.panel-body::after,
.modal-footer::after {
  clear: both;
}
