:root {
  // Use var(--spacing-*) instead of directly accessing this
  --spacing-unit: 0.3rem;

  @media screen and (max-width: 576px) {
    --spacing-unit: 0.2rem;
  }

  // Deprecated - use var(--spacing-6) instead
  --section-padding: calc(var(--spacing-unit) * 6);

  each(range(0, 6), {
    --spacing-@{value}: calc(var(--spacing-unit) * @value);
  });

  each(range(0, 6), {
    .jenkins-\!-margin-@{value} {
      margin: ~"var(--spacing-@{value})" !important;
    }

    .jenkins-\!-margin-top-@{value} {
      margin-top: ~"var(--spacing-@{value})" !important;
    }

    .jenkins-\!-margin-left-@{value} {
      margin-left: ~"var(--spacing-@{value})" !important;
    }

    .jenkins-\!-margin-bottom-@{value} {
      margin-bottom: ~"var(--spacing-@{value})" !important;
    }

    .jenkins-\!-margin-right-@{value} {
      margin-right: ~"var(--spacing-@{value})" !important;
    }
  });

  .jenkins-\!-margin-auto {
    margin: auto;
  }

  each(range(0, 6), {
    .jenkins-\!-padding-@{value} {
      padding: ~"var(--spacing-@{value})" !important;
    }

    .jenkins-\!-padding-top-@{value} {
      padding-top: ~"var(--spacing-@{value})" !important;
    }

    .jenkins-\!-padding-left-@{value} {
      padding-left: ~"var(--spacing-@{value})" !important;
    }

    .jenkins-\!-padding-bottom-@{value} {
      padding-bottom: ~"var(--spacing-@{value})" !important;
    }

    .jenkins-\!-padding-right-@{value} {
      padding-right: ~"var(--spacing-@{value})" !important;
    }
  });
}
